.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");

}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid gold;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2)
 {
    margin-top: 1rem;
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
   }

.square {
    height: 150px;
    width: 150px;
    border: 3px solid #f6f889;
    background-color: #6db8f5;
    border-radius: 10px;
    margin: 2px;
    cursor: url("../images/cursorbeijo.png"), auto; 
}

.enemy {
    background-image: url("../images/alice.jpeg");
    background-size: cover;
    cursor: url("../images/cursorbeijo.png"), auto; 
}

@media (max-width: 768px) {
    .menu {
        
        height: auto; 
    }

    .square {
        height: 100px; 
        width: 100px; 
    }

    
    .panel {
        
        margin: 1rem;
    }
}

@media (max-width: 480px) {
    .menu {
        height: auto; 
        padding: 10px; 
    }

    .square {
        height: 80px;
        width: 80px; 
    }
   
}